header {
    background: linear-gradient(300deg, #00bfff, gray, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

span {
    color: black;
}

.blue-violet {
    color: blueviolet;
}

.lead {
    font-size: 30px;
    font-weight: bold;
    color: gray;
}

.btn-gradient {
    background: #aa81f3;
    background: linear-gradient(90deg, #aa81f3 40%, #00b7ff 100%);
    border-radius: 15px;
    width: 150px;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.text-body-emphasis {
    font-size: 75px;
}

.programing-languages {
    border: 5px solid orange;
    border-radius: 10px;
}

.row .twitter, .google, .amazon, .apple {
    width: 100px;
    height: 100px;
}

.row .twitter, .google {
    width: 140px;
    height: 140px;
}

.services {
    background-color: whitesmoke;
}

svg {
    color: orange;
}
.row1 {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.testimonials-col {
    display: flex;
    text-align: left;
    background-color: #fff3f3;
    flex-basis: 44%;
    margin-bottom: 5%;
    padding: 25px;
    cursor: pointer;
    border-radius: 10px;
}

.testimonials-col p {
    padding: 0;
    color: black;
    font-weight: 300;
    text-align: left;
}

.testimonials h1 {
    font-size: 36px;
    color: black;
    font-weight: 600;
}

.testimonials p {
    color: black;
    font-weight: 300;
}

.testimonials {
    width: 80%;
    padding-top: 100px;
    text-align: center;
    margin: auto;
}

.testimonials-col img div h3 {
    margin-top: 15px;
    text-align: left;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.testimonials-col img {
    border-radius: 50%;
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
}

.footer {
    background: linear-gradient(300deg, #00bfff, yellow, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    height: 100%
}

.icons {
    display: inline-block;
   }

   .footer h4 {
    margin-top: 20px;
    margin-bottom: 25px;
    font-weight: 600;
    font-size: larger;
   }

   .intro {
    font-weight: bold;
   }

   .footer p {
    color: black;
    font-size: large;
   }

   .footer {
    padding: 30px 0;
    width: 100%;
    text-align: center;
   }

   .bi-facebook, .bi-linkedin {
    color: blue;
    height: 40px;
    width: 40px;
    margin: 10px;
   }

   .bi-instagram {
    color: red;
    height: 40px;
    width: 40px;
    margin: 10px;
   }

   .bi-twitter {
    color: skyblue;
    height: 40px;
    width: 40px;
    margin: 10px;
   }

   .hero-btn {
    display: inline-block;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 12px 34px;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    }

    .red-btn {
        border: 1px solid #F44336;
        color: #F44336;
        background: transparent;
        border-radius: 0;
    }

    .about img {
        border-radius: 10px;
    }

   .hero-btn:hover {
    border: none;
    background-color: red;
    color: white;
   }

   .small {
    font-size: 20px;
    font-weight: lighter;
    color: black;
    text-wrap: wrap;
    
   }

   .aboutus {
    margin: 10px;
    margin-left: 100px;
    height: 380px;
    width: 100%;
   }

   .large {
    font-size: 40px;
    margin-top: 200px;
   }

   .angela a img {
    width: 250px;
    border: 5px solid gold;
    
}

.angela {
    margin: 10px;
    margin-left: 30px;
    background-color: white;
    width: 251.5px;
    margin-top: 150px;
    margin-left: 100px;
}

.angela a h3 {
    color: black;
    text-align: left;
    font-size: larger;
    margin: 10px;
    margin-top: 0;
    margin-bottom: 0;
    text-wrap: wrap;
}

.angela a h5 {
    margin: 10px;
    margin-top: 0;
    font-weight: lighter;
    color: gray;
    font-size: large;
}

.angela a {
    text-decoration: none;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

.angela a p {
    color: black;
    margin: 10px;
    margin-top: 0;
    font-weight: bolder;
}

.angela a p span {
    margin-left: 140px;
    font-size: 20px;
}

.angela .rating {
    border: none;
    width: 100px;
    height: 50px;
    margin: 10px;
    margin-top: 0;
    margin-left: 0;
}

.rating {
    margin-right: 5px;
}

.angela:hover {
    border: 1px solid orange;
}

.login-sec, .signup-sec, .forgetpass {
    text-align: center;
}

.main-heading {
    margin-top: 100px;
    font-size: 25px;
}

.continue-btn, .login-btn {
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    width: 400px;
    height: 40px;
    border: 1px solid gray;
}

.login-btn {
    background-color: gold;
    color: white;
    border: none;
    font-weight: bold;
}

.login-btn:hover {
    background-color: orange;

}

.continue-btn:hover {
    border: 1px solid black;
}

#email, #password, .forgetpass-email {
    width: 400px;
    height: 40px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.continue-btn img {
    height: 30px;
    margin-top: 0;
}

.name {
    width: 400px;
    height: 40px;
    padding: 10px;
}

.signup-sec .signup, .send-message {
    background-color: greenyellow;
    color: white;
    width: 400px;
}

.send-message {
    border: 1px solid red;
    height: 40px;
    background-color: white;
    color: red;
}

.send-message:hover {
    background-color: red;
    border: none;
    color: white;
}

.signup-sec .signup:hover {
    background-color: green;
    font-weight: bold;
    color: white;
}

.forgetpass h3 {
    margin-bottom: 50px;
}

.forgetpass h6 {
    margin-right: 275px;
}

.blog-left {
    flex-basis: 65%;
    margin-left: 100px;
}

.blog-left h1 {
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}

.blog-left p {
    color: #999;
    padding: 0;
}

.comment-box {
    border: 1px solid #ccc;
    padding: 10px 20px;
    margin: 50px 0;
}

.comment-box h3 {
    text-align: left;
}

.comment-form input, .comment-form textarea {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #F0f0f0;
}

.blog-right {
    flex-basis: 32%;
    margin-right: 100px;
}

.blog-right h3 {
    background: #F44336;
    color: white;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}

.blog-right div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #555;
    padding: 8px;
    box-sizing: border-box;
}

.blog-left img {
    width: 700px;
    border-radius: 10px;
    box-shadow: 1px 10px 50px 1px #444141;
}

.hamdard .university-pic img {
    
    justify-content: center;
    height: 500px;
    width: 100px;
    margin-top: 50px;
}

.contact-content .row1 .blog-left div h2 {
    margin-right: 10px;
}

.contact-content .row1 .blog-left div span h6 {
    color: gray;
    font-size: 20px;
}

.contact-content .row1 .blog-left div {
    margin-top: 30px;
}

.contact-content .row1 .contact-col input, textarea {
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    background: #F0f0f0;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
}